.input-wrap {
    width: 100%;
}

.card-wrap {
    display: contents;
}

.p-card-r {
    width: 45% !important;
}

.input-title {
    color: burlywood;
}

.button-wrap {
    margin-top: 8%;
}

.ml-1 {
    width: inherit !important;
}

::ng-deep.p-card .p-card-content {
    padding: 0%;
}