<div class="flex justify-content-center flex-wrap card-container yellow-container">
    <p-card class="p-card-r">
        <ng-template pTemplate="footer">
            <div >
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="card-wrap wraper">
                        <div class="field col-12 input-wrap">
                            <div class="input-title"> <label>User Name</label></div>
                            <input type="text" class="ml-1" pInputText formControlName="name" placeholder="Insert Name">
                        </div>
                        <div class="field col-12 input-wrap">
                            <div class="input-title"><label>Email</label></div>
                            <input type="email" class="ml-1" pInputText formControlName="email"
                                placeholder="Insert Email">
                        </div>
                        <div class="button-wrap">
                            <button pButton pRipple type="submit" label="Submit"
                                class="p-element p-ripple p-button-outlined p-button-rounded p-button-success p-button p-component"
                                icon="pi pi-check" [disabled]="userForm.invalid"></button>
                            <button pButton pRipple type="button" label="Clear"
                                class="p-element p-ripple p-button-outlined p-button-rounded p-button-error p-button p-component"
                                (click)="clearForm()"></button>
                        </div>
                    </div>

                </form>
            </div>
        </ng-template>
    </p-card>
</div>